@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 0.7s ease-out;
}

body {
    display: flex;
    background-color: #ebe9e9;
}

h3 {
    color: #084080;
}

.rotate {
    transform: rotate(180deg);
    transition: 0.5s;
}

i {
    cursor: pointer;
}

i:hover {
    transform: scale(1.1);
}

/* la barre verticale de navigation */
nav {
    overflow: hidden;
    position: sticky;
    z-index: 3;
    top: 0;
    height: 100vh;
    left: 0;
    bottom: 0;
    width: 270px;
    background: #084080;

    @keyframes animeNavBar {
        from {
            transform: translateX(-10px);
        }
    }
}

.navBar {
    width: 58px;
    animation: animeNavBar .8s ease-out;
}

nav .logo {
    padding: 25px 16px;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 1.4rem;
    font-weight: 1000;
    font-size: 25px;
}

nav .menu ul li {
    margin-bottom: 1px;
}

nav .menu ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 13px 20px;
    gap: 1.6rem;
}

.dashboard {
    border-left: 3px solid #000;
    background: #2c66a8;
} 

nav .menu ul li a i{
    width: 15px;
}

nav .menu ul li a:hover {
    background: #2c66a8;
}

section {
    padding: .7rem;
    position: relative;
    width: 100%;
    z-index: 2;
}

/* le header */
section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    height: 76px;
    border-radius: 10px;
    padding: 15px 2rem;
    margin-bottom: .7rem;
}

section header .gauche,
section header .droite {
    display: flex;
    align-items: center;
}

section header .gauche i {
    margin-right: 2rem;
    font-size: 25px;
}

section header .gauche :is(h3, i) {
    color: #084080;
}

section header .droite .search {
    margin: 0 20px;
    background: #c1c1c1ab;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    width: 45px;
    align-items: center;
}

section header .droite .search i {
    padding: 15px;
}

section header .droite .searchZone {
    animation: animeSearchBar .8s ease-out;
    width: 224px;

    @keyframes animeSearchBar {
        from {
            transform: translateX(-10px);
        }
    }
}

section header .droite .search input[type="search"] {
    border: none;
    background: transparent;
}

section header .droite .profil {
    position: relative;
}

section header .droite .visible {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

section header .droite .visible .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid #011122;
}

section header .droite .visible .photo .pp {
    width: 38px;
    height: 37px;
    object-fit: cover;
}

section header .droite .visible .txt {
    margin: 0 10px;
}

section header .droite .visible .txt h4 {
    font-size: 18px;
    font-weight: 600;
}

section header .droite .visible .txt p {
    margin-top: -5px;
    font-size: 14px;
}

section header .droite .masquer {
    display: none;
    position: absolute;
    overflow: hidden;
    padding: 5px;
    width: clamp(160px, 100%, 100%);
    margin-top: 10px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
    background: #fff;
}

section header .droite .masquer a {
    color: #011122;
    gap: .5rem;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}

section header .droite .masquer a:last-child {
    border-radius: 0 0 5px 5px;
}

section header .droite .masquer a:hover {
    background: #c4bfbfa8;
}

/* la page */
.content-page {
    background: #fff;
    padding: 15px 2rem;
    border-radius: 10px;
}

.cartes-chiffres .cartes {
    margin: 1rem 0;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    overflow-x: auto;
}

.cartes::-webkit-scrollbar{
    width: 0;
}

.carte {
    background: #2a65a880;
    border-radius: 5px;
    padding: 1rem;
}

.chiffre {
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: space-between;
    font-weight: bold;
}

.chiffre > i {
    padding: 10px;
    border-radius: 50%;
    background: #084080;
}

.cartes .carte:nth-of-type(even) .chiffre i {
    /* border: 1px solid red; */
    padding: 10px 12px;
}

